
@model List<ForgingAhead.Models.Character>

@section header {
    <meta name="description" content="List of all characters in Forging Ahead" />
    }

<h1>Characters</h1>

@Html.ActionLink("Create new character", "Create", "Character", null, null)

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name
            @Html.ActionLink( @item.Name, "Details", new { name = item.Name} )
    </li>
    }
</ul>